body {
  background: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.card-container {
  width:  350px;
  background-color: white;
  padding: 40px;
  overflow: hidden;
  position: relative;
  
}

.card-container:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: calc(-100% + 5px);
  background-color: blueviolet;
  z-index: 1;
  transition: 1s;
}

.card-container:hover:before {
  bottom: 0;
} 

.content{
  position: relative;
  z-index: 2;
  transition: 0.5s;
}

.content:hover{
  color: white;
  transition-delay: 0.1s;
}

h2{
  font-size: 30px;
}
p{
 line-height: 25px;
}

a{
  display: inline-block;
  text-decoration: none;
  color: white;
   background-color: rgb(10,10,10 );
  padding: 10px 20px;
  margin-top: 15px;
  transition: 0.5s  ;
}
